<h1> Details </h1>
<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Private?:</strong>
  <%= @task.private_task %>
</p>


<hr/>

<table>
<h2>Subtasks</h2>
  <% @subtasks.each do |subtask| %>
    <tr>
      <td><%= subtask.title %></td>
      <td><%= subtask.description %></td>
    </tr>
  <% end %>
</table>
<hr/>
<h3> New Subtask </h3>
<%= render 'subtasks/form' %>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
